html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .avatar {
    display: flex;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }